.pricing__arrowright{
  background-image: url(../../../images/arrowright.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 213px;
  right: 115px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border: none;
  background-color: white;
}