.contact__card{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 225px;
  padding: 25px 0 33px 30px;
  margin-right: 30px;
}

.contact__card:last-of-type{
  margin-right: 0;
}