.features-one__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.features-one__container:first-of-type{
  padding-left: 135px;
}

.features-one__container:last-of-type{
  padding-right: 187px;
}